<a href="https://colab.research.google.com/github/JMML2021/Entrega-projecte-final/blob/main/Calculo_Ryainair2019ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [78]:
# Importar librerias:

import numpy as np
import matplotlib as plt
import pandas as pd
import csv
import seaborn as sns
import datetime
from datetime import timedelta

In [79]:
path= '/content/drive/MyDrive/Ficheros de Vueling/2019RyanairCORTO.xlsx'

In [80]:
# Abrir fichero de Github. 

Hoja = '2019Ryamair'
df = pd.read_excel(path, sheet_name=Hoja)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Mes, Día, Año de Flight_Date_Calculated_TST  1007 non-null   object
 1   scheduled_gate_departure                     1007 non-null   datetime64[ns]
 2   scheduled_gate_arrival                       1007 non-null   datetime64[ns]
 3   actual_gate_departure                        981 non-null    datetime64[ns]
 4   actual_gate_arrival                          990 non-null    datetime64[ns]
 5   tail_number                                  1007 non-null   object
 6   departure_airport_id                         1007 non-null   object
 7   arrival_at_cd_airport                        1003 non-null   object
 8   Nº de secuencia                              1007 non-null   int64
 9   Mes                                          1007 non-null   int64
 10  Hora                                         1007 non-null   int64
 11  E. Salida                                    1007 non-null   object
dtypes: datetime64[ns](4), int64(3), object(5)
memory usage: 94.5+ KB

In [82]:
# Los nombre de las columnas tienen muchos espacios en blanco

nombreColumnas= df.columns
nombreColumnas

Index(['Mes, Día, Año de Flight_Date_Calculated_TST',
       'scheduled_gate_departure', 'scheduled_gate_arrival',
       'actual_gate_departure', 'actual_gate_arrival', 'tail_number',
       'departure_airport_id', 'arrival_at_cd_airport', 'Nº de secuencia',
       'Mes', 'Hora', 'E. Salida'],
      dtype='object')

In [83]:
df1=df.copy()
df1.head()

,"Mes, Día, Año de Flight_Date_Calculated_TST",scheduled_gate_departure,scheduled_gate_arrival,actual_gate_departure,actual_gate_arrival,tail_number,departure_airport_id,arrival_at_cd_airport,Nº de secuencia,Mes,Hora,E. Salida
0,1 de abril de 2019,2019-04-01 10:30:00,2019-04-01 12:50:00,2019-04-01 10:43:00,2019-04-01 12:55:00,EI-DAC,MXP,OTP,1,4,10,13.0
1,1 de abril de 2019,2019-04-01 13:20:00,2019-04-01 15:45:00,2019-04-01 13:40:00,2019-04-01 16:03:00,EI-DAC,OTP,MXP,2,4,13,20.0
2,1 de abril de 2019,2019-04-01 16:10:00,2019-04-01 18:00:00,2019-04-01 16:40:00,2019-04-01 18:20:00,EI-DAC,MXP,PMO,3,4,16,30.0
3,1 de abril de 2019,2019-04-01 18:45:00,2019-04-01 20:35:00,2019-04-01 18:58:00,2019-04-01 20:35:00,EI-DAC,PMO,MXP,4,4,18,13.0
4,1 de abril de 2019,2019-04-01 05:30:00,2019-04-01 07:20:00,2019-04-01 05:30:00,2019-04-01 07:25:00,EI-DAD,OPO,BCN,1,4,5,0

In [84]:
# Aqui corrijo los nombre de las columnas
nombreColumnaCorregido= ['DATE', 'STD', 'STA', 'ATD','ATA', 'REG', 'ARR', 'NAda', 'Secuencia2', 'MES2','Hora2','E.Salida2']
df1=df.copy()
#df1.head()
                         
# Proceso para cambiar el nombre de las columnas por un bucle FOR
for n, m in enumerate(nombreColumnas):
  print(n, m,'*',nombreColumnaCorregido[n],'-')
  df1.rename({m: nombreColumnaCorregido[n]}, axis=1, inplace=True)

df1.head()

0 Mes, Día, Año de Flight_Date_Calculated_TST * DATE -
1 scheduled_gate_departure * STD -
2 scheduled_gate_arrival * STA -
3 actual_gate_departure * ATD -
4 actual_gate_arrival * ATA -
5 tail_number * REG -
6 departure_airport_id * ARR -
7 arrival_at_cd_airport * NAda -
8 Nº de secuencia * Secuencia2 -
9 Mes * MES2 -
10 Hora * Hora2 -
11 E. Salida * E.Salida2 -

,DATE,STD,STA,ATD,ATA,REG,ARR,NAda,Secuencia2,MES2,Hora2,E.Salida2
0,1 de abril de 2019,2019-04-01 10:30:00,2019-04-01 12:50:00,2019-04-01 10:43:00,2019-04-01 12:55:00,EI-DAC,MXP,OTP,1,4,10,13.0
1,1 de abril de 2019,2019-04-01 13:20:00,2019-04-01 15:45:00,2019-04-01 13:40:00,2019-04-01 16:03:00,EI-DAC,OTP,MXP,2,4,13,20.0
2,1 de abril de 2019,2019-04-01 16:10:00,2019-04-01 18:00:00,2019-04-01 16:40:00,2019-04-01 18:20:00,EI-DAC,MXP,PMO,3,4,16,30.0
3,1 de abril de 2019,2019-04-01 18:45:00,2019-04-01 20:35:00,2019-04-01 18:58:00,2019-04-01 20:35:00,EI-DAC,PMO,MXP,4,4,18,13.0
4,1 de abril de 2019,2019-04-01 05:30:00,2019-04-01 07:20:00,2019-04-01 05:30:00,2019-04-01 07:25:00,EI-DAD,OPO,BCN,1,4,5,0

In [85]:
df1.shape

(1007, 12)

In [87]:
df1['Secuencia'] = df1.groupby(['DATE', 'REG'])['STD'].rank()
print(df1[['Secuencia','Secuencia2','STD', 'ARR']][5:9])

   Secuencia  Secuencia2                 STD  ARR
5        2.0           2 2019-04-01 07:55:00  BCN
6        3.0           3 2019-04-01 10:20:00  OPO
7        4.0           4 2019-04-01 13:05:00  BRU
8        5.0           5 2019-04-01 16:35:00  OPO

In [89]:
#Añado el mes y semana

df1['MES'] = df1['STD'].dt.month
df1['Setmana'] = df1['STD'].dt.week
df1['DiaSetmana'] = df1['STD'].dt.dayofweek
df1['DiaSetmanaName'] = df1['STD'].dt.day_name()
df1['Hour'] = df1['STD'].dt.hour
df1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

,DATE,STD,STA,ATD,ATA,REG,ARR,NAda,Secuencia2,MES2,Hora2,E.Salida2,Secuencia1,Secuencia,MES,Setmana,DiaSetmana,DiaSetmanaName,Hour
0,1 de abril de 2019,2019-04-01 10:30:00,2019-04-01 12:50:00,2019-04-01 10:43:00,2019-04-01 12:55:00,EI-DAC,MXP,OTP,1,4,10,13.0,1.0,1.0,4,14,0,Monday,10
1,1 de abril de 2019,2019-04-01 13:20:00,2019-04-01 15:45:00,2019-04-01 13:40:00,2019-04-01 16:03:00,EI-DAC,OTP,MXP,2,4,13,20.0,2.0,2.0,4,14,0,Monday,13
2,1 de abril de 2019,2019-04-01 16:10:00,2019-04-01 18:00:00,2019-04-01 16:40:00,2019-04-01 18:20:00,EI-DAC,MXP,PMO,3,4,16,30.0,3.0,3.0,4,14,0,Monday,16
3,1 de abril de 2019,2019-04-01 18:45:00,2019-04-01 20:35:00,2019-04-01 18:58:00,2019-04-01 20:35:00,EI-DAC,PMO,MXP,4,4,18,13.0,4.0,4.0,4,14,0,Monday,18
4,1 de abril de 2019,2019-04-01 05:30:00,2019-04-01 07:20:00,2019-04-01 05:30:00,2019-04-01 07:25:00,EI-DAD,OPO,BCN,1,4,5,0,1.0,1.0,4,14,0,Monday,5